# Example of connection string used inside the container (host = service name in docker-compose)
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=;Username=;Password=

Jwt__Key=
Jwt__Issuer=ExpenseTrackerAPI
Jwt__Audience=ExpenseTrackerClient
Jwt__ExpiresInMinutes=60
Jwt__RefreshTokenExpirationDays=7

#Frontend
Frontend__BaseUrl=http://localhost:4200

#Email
Email__Host=mailpit
Email__Port=1025
Email__Username=
Email__Password=
Email__FromEmail=noreply@expensetracker.local
Email__FromName=Expense Tracker
Email__UseSsl=false