# .NET
bin/
obj/
*.user
*.suo
.vs/
*.log
TestResults/
*.lscache

# .NET secrets
**/appsettings.Development.json
**/appsettings.Local.json

# Environment variables
.env
.env.container
!.env.example
!.env.container.example

# Angular
client/node_modules/
client/dist/
client/.angular/cache/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
ExpenseTracker.API/appsettings.json
