<div class="flex items-center justify-between">
    <ul class="flex flex-wrap -mb-px border-b-0"> 
        <li class="me-2">
            <a 
                routerLink="/expenses" 
                routerLinkActive="text-[var(--color-accent)] border-[var(--color-accent)] font-medium" 
                [routerLinkActiveOptions]="{ exact: true }"
                class="inline-block p-4 border-b-2 border-transparent rounded-t-base
                hover:text-[var(--color-accent)] hover:border-[var(--color-accent)] duration-300 no-underline shadow-none">
                Expenses
            </a>
        </li>
        <li class="me-2">
            <a 
                routerLink="/reports" 
                routerLinkActive="text-[var(--color-accent)] border-[var(--color-accent)] font-medium" 
                class="inline-block p-4 border-b-2 border-transparent rounded-t-base
                hover:text-[var(--color-accent)] hover:border-[var(--color-accent)] duration-300 no-underline shadow-none">
                Reports
            </a>
        </li>
        <li class="me-2">
            <a 
                routerLink="/budgets" 
                routerLinkActive="text-[var(--color-accent)] border-[var(--color-accent)] font-medium" 
                class="inline-block p-4 border-b-2 border-transparent rounded-t-base
                hover:text-[var(--color-accent)] hover:border-[var(--color-accent)] duration-300 no-underline shadow-none">
                Budgets
            </a>
        </li>
        <li class="me-2">
            <a 
                routerLink="/recurring-expenses" 
                routerLinkActive="text-[var(--color-accent)] border-[var(--color-accent)] font-medium" 
                class="inline-block p-4 border-b-2 border-transparent rounded-t-base
                hover:text-[var(--color-accent)] hover:border-[var(--color-accent)] duration-300 no-underline shadow-none">
                Recurring Expenses
            </a>
        </li>
    </ul>
</div>